In [1]:
import pandas as pd
import numpy as np
import datetime
import os

In [2]:
rolling_avg = pd.read_excel("../clean_data/state_time_series.xlsx", index_col = 0)
rolling_avg.head()

         Date Province_State  Confirmed                  Unique
0  2020-03-18        Alabama         51     Alabama, 2020-03-18
1  2020-03-18         Alaska          5      Alaska, 2020-03-18
2  2020-03-18        Arizona         27     Arizona, 2020-03-18
3  2020-03-18       Arkansas          4    Arkansas, 2020-03-18
4  2020-03-18     California        828  California, 2020-03-18

In [3]:
rolling_avg.sort_values(["Province_State", "Date"], inplace = True)
rolling_avg.reset_index(inplace = True)
rolling_avg.drop("index", axis = 1, inplace = True)
rolling_avg.head()

         Date Province_State  Confirmed               Unique
0  2020-03-18        Alabama         51  Alabama, 2020-03-18
1  2020-03-19        Alabama         78  Alabama, 2020-03-19
2  2020-03-20        Alabama        106  Alabama, 2020-03-20
3  2020-03-21        Alabama        131  Alabama, 2020-03-21
4  2020-03-22        Alabama        157  Alabama, 2020-03-22

In [4]:
rolling_avg["New_Cases"] = rolling_avg["Confirmed"]-rolling_avg["Confirmed"].shift(1)
rolling_avg = rolling_avg[rolling_avg["Date"] != "2020-03-18"]
rolling_avg.tail()
rolling_avg.tail()

            Date Province_State  Confirmed               Unique  New_Cases
3106  2020-05-13        Wyoming        688  Wyoming, 2020-05-13       13.0
3107  2020-05-14        Wyoming        701  Wyoming, 2020-05-14       13.0
3108  2020-05-15        Wyoming        716  Wyoming, 2020-05-15       15.0
3109  2020-05-16        Wyoming        741  Wyoming, 2020-05-16       25.0
3110  2020-05-17        Wyoming        754  Wyoming, 2020-05-17       13.0

In [5]:
rolling_avg["Rolling_Avg"] = (rolling_avg["Confirmed"]+rolling_avg["Confirmed"].shift(1)+rolling_avg["Confirmed"].shift(2)+rolling_avg["Confirmed"].shift(3)+rolling_avg["Confirmed"].shift(4)+rolling_avg["Confirmed"].shift(5)+rolling_avg["Confirmed"].shift(6)+rolling_avg["Confirmed"].shift(7)+rolling_avg["Confirmed"].shift(8)+rolling_avg["Confirmed"].shift(9)+rolling_avg["Confirmed"].shift(10)+rolling_avg["Confirmed"].shift(11)+rolling_avg["Confirmed"].shift(12)+rolling_avg["Confirmed"].shift(13))/14
rolling_avg.head()

,Date,Province_State,Confirmed,Unique,New_Cases,Rolling_Avg
1,2020-03-19,Alabama,78,"Alabama, 2020-03-19",27.0,NaN
2,2020-03-20,Alabama,106,"Alabama, 2020-03-20",28.0,NaN
3,2020-03-21,Alabama,131,"Alabama, 2020-03-21",25.0,NaN
4,2020-03-22,Alabama,157,"Alabama, 2020-03-22",26.0,NaN
5,2020-03-23,Alabama,196,"Alabama, 2020-03-23",39.0,NaN

In [6]:
rolling_avg["New_Case_Roll_Avg"] = (rolling_avg["New_Cases"]+rolling_avg["New_Cases"].shift(1)+rolling_avg["New_Cases"].shift(2)+rolling_avg["New_Cases"].shift(3)+rolling_avg["New_Cases"].shift(4)+rolling_avg["New_Cases"].shift(5)+rolling_avg["New_Cases"].shift(6)+rolling_avg["New_Cases"].shift(7)+rolling_avg["New_Cases"].shift(8)+rolling_avg["New_Cases"].shift(9)+rolling_avg["New_Cases"].shift(10)+rolling_avg["New_Cases"].shift(11)+rolling_avg["New_Cases"].shift(12)+rolling_avg["New_Cases"].shift(13))/14
rolling_avg.head()

,Date,Province_State,Confirmed,Unique,New_Cases,Rolling_Avg,New_Case_Roll_Avg
1,2020-03-19,Alabama,78,"Alabama, 2020-03-19",27.0,NaN,NaN
2,2020-03-20,Alabama,106,"Alabama, 2020-03-20",28.0,NaN,NaN
3,2020-03-21,Alabama,131,"Alabama, 2020-03-21",25.0,NaN,NaN
4,2020-03-22,Alabama,157,"Alabama, 2020-03-22",26.0,NaN,NaN
5,2020-03-23,Alabama,196,"Alabama, 2020-03-23",39.0,NaN,NaN

In [7]:
rolling_avg.tail()

,Date,Province_State,Confirmed,Unique,New_Cases,Rolling_Avg,New_Case_Roll_Avg
3106,2020-05-13,Wyoming,688,"Wyoming, 2020-05-13",13.0,624.785714,10.214286
3107,2020-05-14,Wyoming,701,"Wyoming, 2020-05-14",13.0,634.928571,10.142857
3108,2020-05-15,Wyoming,716,"Wyoming, 2020-05-15",15.0,645.642857,10.714286
3109,2020-05-16,Wyoming,741,"Wyoming, 2020-05-16",25.0,657.214286,11.571429
3110,2020-05-17,Wyoming,754,"Wyoming, 2020-05-17",13.0,669.214286,12.000000

In [8]:
rolling_avg_change = rolling_avg[["Date","Province_State","Unique","Confirmed","Rolling_Avg","New_Cases","New_Case_Roll_Avg"]]

In [9]:
timeframe = 14
rolling_avg_change["Change_New_Case_Avg"] = rolling_avg_change["New_Case_Roll_Avg"] - rolling_avg_change["New_Case_Roll_Avg"].shift(timeframe)
rolling_avg_change.tail(timeframe)

C:\Users\becbo\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Date,Province_State,Unique,Confirmed,Rolling_Avg,New_Cases,New_Case_Roll_Avg,Change_New_Case_Avg
3097,2020-05-04,Wyoming,"Wyoming, 2020-05-04",596,521.142857,10.0,19.928571,12.285714
3098,2020-05-05,Wyoming,"Wyoming, 2020-05-05",604,532.642857,8.0,11.500000,-4.714286
3099,2020-05-06,Wyoming,"Wyoming, 2020-05-06",631,545.785714,27.0,13.142857,-3.000000
3100,2020-05-07,Wyoming,"Wyoming, 2020-05-07",635,558.785714,4.0,13.000000,-2.928571
3101,2020-05-08,Wyoming,"Wyoming, 2020-05-08",644,571.000000,9.0,12.214286,-4.500000
3102,2020-05-09,Wyoming,"Wyoming, 2020-05-09",653,582.571429,9.0,11.571429,-4.857143
3103,2020-05-10,Wyoming,"Wyoming, 2020-05-10",662,594.000000,9.0,11.428571,-5.142857
3104,2020-05-11,Wyoming,"Wyoming, 2020-05-11",669,604.642857,7.0,10.642857,-6.857143
3105,2020-05-12,Wyoming,"Wyoming, 2020-05-12",675,614.571429,6.0,9.928571,-8.214286
3106,2020-05-13,Wyoming,"Wyoming, 2020-05-13",688,624.785714,13.0,10.214286,-8.214286
3107,2020-05-14,Wyoming,"Wyoming, 2020-05-14",701,634.928571,13.0,10.142857,-8.642857
3108,2020-05-15,Wyoming,"Wyoming, 2020-05-15",716,645.642857,15.0,10.714286,-7.928571
3109,2020-05-16,Wyoming,"Wyoming, 2020-05-16",741,657.214286,25.0,11.571429,-7.714286
3110,2020-05-17,Wyoming,"Wyoming, 2020-05-17",754,669.214286,13.0,12.000000,-7.500000

In [10]:
rolling_avg_change["Normalized_Change"] = rolling_avg_change.apply(lambda row: row.Change_New_Case_Avg/row.New_Case_Roll_Avg if row.New_Case_Roll_Avg != 0 else 0, axis = 1)
rolling_avg_change.tail()

C:\Users\becbo\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,Date,Province_State,Unique,Confirmed,Rolling_Avg,New_Cases,New_Case_Roll_Avg,Change_New_Case_Avg,Normalized_Change
3106,2020-05-13,Wyoming,"Wyoming, 2020-05-13",688,624.785714,13.0,10.214286,-8.214286,-0.804196
3107,2020-05-14,Wyoming,"Wyoming, 2020-05-14",701,634.928571,13.0,10.142857,-8.642857,-0.852113
3108,2020-05-15,Wyoming,"Wyoming, 2020-05-15",716,645.642857,15.0,10.714286,-7.928571,-0.740000
3109,2020-05-16,Wyoming,"Wyoming, 2020-05-16",741,657.214286,25.0,11.571429,-7.714286,-0.666667
3110,2020-05-17,Wyoming,"Wyoming, 2020-05-17",754,669.214286,13.0,12.000000,-7.500000,-0.625000

In [12]:
today = datetime.datetime.today()
offset2 = datetime.timedelta(days = 2)
olddate = today - offset2
olddate

datetime.datetime(2020, 5, 16, 11, 25, 46, 229554)

In [14]:
rolling_avg_change["Date"] = pd.to_datetime(rolling_avg_change.Date)
rolling_avg_change_day = rolling_avg_change[rolling_avg_change["Date"] > olddate]

rolling_avg_change_day.tail()

C:\Users\becbo\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,Date,Province_State,Unique,Confirmed,Rolling_Avg,New_Cases,New_Case_Roll_Avg,Change_New_Case_Avg,Normalized_Change
2866,2020-05-17,Virginia,"Virginia, 2020-05-17",30388,24721.142857,705.0,836.857143,113.285714,0.135370
2927,2020-05-17,Washington,"Washington, 2020-05-17",18332,16897.857143,156.0,229.285714,-6.642857,-0.028972
2988,2020-05-17,West Virginia,"West Virginia, 2020-05-17",1492,1355.928571,22.0,21.214286,-0.571429,-0.026936
3049,2020-05-17,Wisconsin,"Wisconsin, 2020-05-17",12543,10306.214286,356.0,327.071429,68.642857,0.209871
3110,2020-05-17,Wyoming,"Wyoming, 2020-05-17",754,669.214286,13.0,12.000000,-7.500000,-0.625000

In [15]:
rolling_avg_change["Date"] = rolling_avg_change["Date"].dt.to_period("D")
rolling_avg_change_day["Date"] = rolling_avg_change_day["Date"].dt.to_period("D")

C:\Users\becbo\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\becbo\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [16]:
rolling_avg_change.to_excel("../clean_data/state_rolling_avg.xlsx")
rolling_avg_change_day.to_excel("../clean_data/state_today.xlsx")